{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 style="color: #495E57"> Menu </h1>
  <img src="{% static '/img/dessert.jpg' %}">
  <p>{{ content.about }}</p>
  <table style="border: 1px solid black;">
    {% for item in content.mains %}
    <tr>
      <td style="border: 1px solid black;">{{item.name}}</td>
      <td style="border: 1px solid black;">{{item.price}}</td>
    </tr>
    {% endfor %}
  </table>
  <h1>MENU DE MI DB</h1>
  {% if content.menu %}

  {% for item in content.menu %}
  {{ item.name }} : {{ item.price }}
  <br>
  {% endfor %}
  {% else %}
  <p> No items to display !</p>
  {% endif %}
</body>

</html>